.a {
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-border-color: cyan;
    -fx-border-width: 1.5;
}

.a:hover {
    -fx-background-color: #010820;
    -fx-effect: dropshadow(gaussian, cyan, 10, 0, 0, 0);
}

.a:pressed {
    -fx-background-color: none;
}

.b {
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-border-color: cyan;
    -fx-border-width: 1.5;
}

.b:hover {
    -fx-background-color: #010820;
    -fx-effect: dropshadow(gaussian, cyan, 10, 0, 0, 0);
}

.b:pressed {
    -fx-background-color: none;
}

.bar {
    -fx-background-radius: 20;
}

.bar > .track {
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-border-color: #010820;
    -fx-effect: dropshadow(gaussian, cyan, 10, 0, 0, 0);
}

.c {
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-border-color: cyan;
    -fx-border-width: 1.5;
    -fx-border-radius: 10px;
}